h3 {
    margin: 12px;
}

h4 {
    margin: 12px
}

button {
    transition-duration: 200ms;
    cursor: pointer;
    transform: scale(.95);
    color: white;
    padding: 6px;
    margin: 12px;
    background-color: #ebebeb96;
    border: 1px solid #ddd;
    border-radius: 6px;
    border-width: 0;
}

button:hover {
    transition-duration: 200ms;
    transform: scale(1);
    box-shadow: 0px 0px 12px rgba(255, 255, 255, 0.221);
}

.board-cards {
    display: flex;
    grid-auto-flow: column;
    gap: 30px;
    margin-top: 40px;
    word-wrap: break-word;
    overflow: visible;
    padding: 20px;
}

.board-card {
    transition-duration: 1000ms;
    transform: scale(.95);
    display: grid;
    grid-template-rows: 50px 40px 100px 50px 50px;
    width: 200px;
    height: 300px;
    background-color: #ebebeb96;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    cursor: pointer;
    justify-content: space-between;
    word-break: break-word; /* Allows words to break */
    white-space: pre-line;
    overflow: visible;
}

.board-card:hover {
    transition-duration: 200ms;
    transform: scale(1);
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.221);
}

.description-text {
    white-space: pre-line;
    text-overflow:clip;
    width: inherit;
    overflow: hidden;
}